<!DOCTYPE html>

<html>
    <head>
        <title>Postes du blog</title>
    </head>
    <body>

        <h2>Bienvenu sur la pages avec nos postes ! </h2>

        <div class="post">
            {% for post in posts %}
                    <br><br>
                    <p> Titre : {{ post.title }} </p>
                    <p> Contenu : {{ post.text }} </p>
                    {% if post.photo is not empty %}
                        <p>Photos :</p>
                            {% for photo in post.photo %}
                                <img src="{{ asset('uploads/images/' ~ photo) }}" alt="Image de {{ post.title }}" height="25%" width="25%" />
                            {% endfor %}
                    {% else %}
                        <p> Pas de photo pour ce poste </p>
                    {% endif %}
                    <p> Auteur du poste : {{ post.author }} </p>
                    <p> Date du poste : {{ post.createdDate|date('d-m-Y H:i') }} </p>
                    <br><br>
            {%else%}
                <p> Aucun post n'a été trouvé </p>
            {% endfor %}
        </div>

    </body>

<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f0f0f0;
    }
</style>