{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block body %}
    {% include 'sidebar.html.twig' %}
    <br>
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Conference Comments</h1>
            <a href="{{ path('home') }}" class="btn btn-primary">Add Conference Comment</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Conference</th>
                <th>Author</th>
                <th>Email</th>
                <th>Photo Filename</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.conference.city }} {{ comment.conference.year }}</td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.email }}</td>
                    <td>{{ comment.photoFilename }}</td>
                    <td>{{ comment.createdAt|date('Y-m-d H:i') }}</td>
                    <td>
                        <a href="{{ path('home', {id: comment.id}) }}" class="btn btn-sm btn-info">Edit</a>
                        <a href="{{ path('home', {id: comment.id}) }}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}